{% extends "layout/base_main.html" %}

{% block content %}

<div class="container">

  <h2 class="mb-4">📘 My Classes & Subjects</h2>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">

      <thead class="table-success text-center">
        <tr>
          <th>#</th>
          <th>Class</th>
          <th>Subject</th>
        </tr>
      </thead>

      <tbody>

        {% for a in assignments %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ a.class_.class_name }}</td>
          <td>{{ a.subject.subject_name }}</td>
        </tr>
        {% endfor %}

      </tbody>

    </table>
  </div>

</div>

{% endblock %}